{# templates/Accueil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Projet entretien{% endblock %}

{% block body %}
<div class="container">
</br>
  <p>
  </br>
    Ceci est un site d'affichage d'actualités.</br>
    Tout le monde peut s'y inscrire et publier ou commenter des actualités.</br>
    </br>
    <h3>A la une : </h3>
    <div class="col-3">
      <div class="card"s style="width: 45em; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
        <div class="card-body">
          <h5 class="card-title">
            <a href="#">{{actualite.titre}}</a>
          </h5>
          <p class="card-text">{{actualite.contenu}}</p>
        </div>
      </div>
    </div>
    </br>
    EN CONSTRUCTION </br>
    </br>
    Site hébergé sur un serveur web Nginx sous PHP7.2, et réalisé à l'aide de Symfony 4.</br>
    Administration réalisée sous Ubuntu 18.04.
    </br></br>
    Réalisé par Samuel Gérard.
  </p>
</div>
{% endblock %}
