{# templates/Actualites/actualites.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Projet entretien{% endblock %}

{% block body %}



<div class="container">
  <h1 style="margin: 50px;">Actualités à la une </h1>
  <div class="row-flex">
    {% for actu in actualites %}
      <div class="col-3">
        <div class="card"s style="width: 65em; margin-top: 50px; margin-bottom: 30px; text-align: justify;">
          <div class="card-body">
            <h5 class="card-title">
              <a href="#">{{actu.titre}}</a>
            </h5>
            <p class="card-text">{{actu.contenu}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>





{% endblock %}
