{# templates/Actualites/actualites.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Projet entretien{% endblock %}

{% block body %}



<div class="container mt-4">
  <h1 style="margin: 50px;">Editer une actualité</h1>

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
  {% endfor %}

  <table class="table table-striped">
  <thead>
  <tr>
    <th>Titre</th>
    <th>Action</th>
  </tr>
  </thead>


    <tbody>
    {% for actualite in actualites %}

      <tr>
        <td>{{actualite.titre}}</td>
        <td>
          <a href="{{ path('admin.actualite.edit', {id: actualite.id}) }}" class="btn btn-secondary">Editer</a>
          <form method="post" action="{{ path('admin.actualite.delete', {id: actualite.id}) }}" style="display: inline-block;" onsubmit="return confirm('Voulez-vous vraiment supprimer cette actualité ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actualite.id) }}">
            <button class="btn btn-danger">Supprimer</button>
          </form>
        </td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
</div>





{% endblock %}
