{# templates/Actualites/actualites.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Projet entretien{% endblock %}

{% block body %}



<div class="container mt-4">
  <h1 style="margin: 50px;">Publier une actualité</h1>

  {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary">Sauvegarder</button>
  {{ form_end(form) }}

</div>





{% endblock %}
