{# templates/Accueil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Projet entretien - connexion{% endblock %}

{% block body %}

  <div class="container mt-4">

    <h1 style="margin: 50px;">Inscription</h1>

    {{ form_start(form) }}
      {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
      {{ form_row(form.mail, {'label': 'Adresse mail', 'attr': {'placeholder': 'Adresse mail'}}) }}
      {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe'}}) }}
      <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}

  </div>
{% endblock %}
