{# templates/Accueil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Projet entretien - connexion{% endblock %}

{% block body %}

  <div class="container mt-4">

    <h1 style="margin: 50px;">Connexion</h1>

    {% if error %}
      <div class="alert alert-danger">
      {{ error.messageKey | trans(error.messagedata, 'security') }}
      </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="_password" class="form-control">
      </div>

      <button class="btn btn-primary" type="submit">Se connecter</button>
    </form>

  </div>
{% endblock %}
